extends layout

block content
	h1 Login
	form(method='post', action='/users/login')
		.form-group
			label Username
			input.form-control(name='username', type='text', placeholder='Enter Username' required)
		.form-group
			label password
			input.form-control(name='password', type='password', placeholder='Enter Password' required)
		input.btn.btn-default(name='submit', type='submit', value='Login')