node_modules/*
chatio/node_modules/*
comevents/node_modules/*
express_basic/node_modules/*
findadoc/node_modules/*
nodeauth/node_modules/*
nodeblog/node_modules/*
portfolio/node_modules/*
serving-html-files/node_modules/*
TekBooks/node_modules/*
web-server/node_modules/*
chatio/npm-debug.log
comevents/npm-debug.log
express_basic/npm-debug.log
findadoc/npm-debug.log
nodeauth/npm-debug.log
nodeblog/npm-debug.log
serving-html-files/npm-debug.log
TekBooks/npm-debug.log
web-server/npm-debug.log
portfolio/npm-debug.log