h1,h2,h3,h4{
	margin-top:0px;
}
.page-header{
	margin-top:30px;
}
.no-pad-top{
	padding-top:0px;
}
.extra-pad{
	padding-top:40px;
	padding-bottom:40px;
}
.pad-top{
	padding-top:20px;
}
.top-inner{
	padding-top:90px;
	padding-bottom:30px;
}

/* Image Size */

.img-xsm{
	width:100px;
}
.img-sm{
	width:200px;
}
.img-lg{
	width:400px;
}
.img-xlg{
	width:700px;
}
.clearfix{
	clear:both;
}