extends layout

block content

	.jumbotron
		.container
			h1 How May I Help Your 
			p Lorem ipsum dolor sit amet, consectetur adisiscing ellit, Fusce orci nulla, vehicula ullamcorper labortis sed, luctus quis lacus.
				a.btn.btn-primary.btn-lg(hreft = "#") Learn More&raquo;
	.container
		.row
			.col-md-4
				h2 About Us
				p  Fusce orci nulla, vehicula ullamcorper labortis sed, luctus quis lacus.
				a.btn.btn-default(href="#") View Details
			.col-md-4
				h2 About Us
				p  Fusce orci nulla, vehicula ullamcorper labortis sed, luctus quis lacus.
				a.btn.btn-default(href="#") Services
			.col-md-4
				h2 About Us
				p  Fusce orci nulla, vehicula ullamcorper labortis sed, luctus quis lacus.
				a.btn.btn-default(href="#") About Us

